main {
  --main-bg-color: hsl(0, 0%, 95%);
  --primary-sedans: hsl(31, 77%, 52%);
  --primary-suvs: hsl(184, 100%, 22%);
  --primary-luxury: hsl(179, 100%, 13%);
  --neutral-white: hsla(0, 0%, 100%, 0.75);
  --neutral-light-gray: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.luxury {
  background-color: var(--primary-luxury);
}
.sedans {
  background-color: var(--primary-sedans);
}
.suvs {
  background-color: var(--primary-suvs);
}

.card-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 8px;
  font-size: 15px;
  width: 840px;
}

@media screen and (max-width: 575px) {
  main {
    width: 100%;
  }
  .card-container {
    flex-direction: column;
    background-color: pink;
    width: 280px;
  }
}
